{% extends 'base.html.twig' %}
{% block body%}
   <h2>EDITAR EQUIPO</h2>

   {{
      form_start(
         form,
         {
            action:"",
            method:"POST"
         }
      )
   }}

   {{ form_widget(form) }}
       <button type="submit">Editar</button>
   {{ form_end(form) }}
{% endblock %}